<style>
    p{
        font-size: 4rem;
        color: blue;
    }
    .logout-link{
        background-color: red;
        padding: 6px 20px;
        font-size: 1.6rem;
    }
</style>

<p>Hello <%= user.name %></p>
<p>Welcome to our Website...!</p>
<a class="logout-link btn btn-secondary" href="/users/logout">Logout</a>
